body {
    border: 2px solid black;
    width: 600px;
    align-items: center;
}

.wrap {
    width: 500px;
    padding: 50px;
}

h4 {
    color: rgb(0, 118, 0);
    margin-bottom: 5px;
    font-weight: 300;
}

div {
    margin: 0;
}

.experience {
    color: rgb(54, 54, 175);
    margin-top: 0;
    margin-bottom: 10px;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 15px;
}

.skill {
    margin-top: 10px;
    margin-bottom: 20px;
}